{% extends "base.html" %} {% block head %}
<title>Add Note</title>
{% endblock %} {% block body %}
<div class="container content is-flex is-flex-direction-column is-align-items-center">
    <h1 class="has-text-centered">Add Note</h1>
    <form class="box" method="POST">{% csrf_token %}
        {{ form }}
        <button type="submit" class="button mb-4 is-responsive">Submit</button>
  </form>
  {% if form.errors %}
    <div class="mt-4">
      {{ form.errors.title.as_text }}
    </div>
    {% endif %}
    <a href="{% url 'notes:list' %}" class="button is-link">Back to List</a>
</div>
{% endblock %}

